.container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 18px;
    align-items: center;
    margin: 40px auto 0 auto;
}

.main {
    width: 100%;
}

.main h1 {
    margin-bottom: 14px;
}

.task {
    border: 1.5px solid #909090;
    padding: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task p {
    white-space: pre-wrap;
    width: 100%;
}

.commentsContainer {
    width: 100%;
    max-width: 1024px;
    margin: 14px 0;
}

.commentsContainer h2 {
    margin: 14px 0;
}

.button {
    color: #fff;
    width: 100%;
    border: 0;
    padding: 12px 0;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    background-color: #318fff;
}

.button:disabled {
    cursor: not-allowed;
    background-color: rgba(49, 142, 255, 0.449);
}

.comment {
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 14px;
}

.headComment {
    display: flex;
    align-items: center;
}

.commentsLabel {
    background-color: #ccc;
    padding: 4px 8px;
    margin-right: 8px;
    border-radius: 4px;
}

.buttonTrash {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.comment p {
    margin-top: 14px;
    white-space: pre-wrap;
}